<%- include('./partials/header.ejs') %>

<div class="container-fluid cf-aboutUs">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/doctor1.png" alt="" style="width: 100%;">
        </div>
        <div class="col-md-8">
            <h2 class="aboutUs-h2"><span style="color: #000D6B;">About</span> <span style="color: #81B214;">Us</span></h2>
            <p class="aboutUs">It all started in 1972, when Mr. G. Rajasundharam started his career as a Sidhdha Dotor in Sivakasi, Tamil Nadu. While doing so, he also started to supply medical raw materials and dried medicinal plants all over India. Then his son, Mr. Ganesan planned to take it to the next level. He got his M.Sc. Ph.D. from Madurai Kamaraj University in 2009. In his serious efforts and thoughts, <strong>Bio Medical Systems was founded in 2013, with high hopes and dreams filled in his heart, in Mumbai Maharashtra.</strong> Later, he expanded his business in Tirunelveli, Sivakasi, Madurai, Trichy, Chennai and Coimbatore. <strong>Our Company delivers all kind of medical equipments and related parts/accessories</strong> to a wide range of people including Doctors, Large scale suppliers, small scale dealers and also to the end users. The <strong>Main Motto of Bio Medical Systems is its uncompromising aproach in quality</strong>. We prioritize our customers more than anything and want to give them the best. Also, another important aspect we look into is <strong>timely delivery</strong>. We make sure to deliver the best product in the promised time. </p>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>