<%- include('./partials/header.ejs') %>

<div class="container-fluid cf-productPage">
    <div class="row">
        <div class="col-md-12 col-12">
            <h3>HF3100 - I.C.U Bed Electric, 5 Function Column Model - With Weighing Scale</h3>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#"><i class="bi bi-house-fill" style="color: black;"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="/products" class="pageLinks">Products</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="/products" class="pageLinks">Hospital Medical Furniture</a></li>
                  <li class="breadcrumb-item active" aria-current="page">ICU Beds</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-5 col-6">
            <img class="img-fluid" src="/images/items/icu-bed-hf3300.png" alt="product_image">
        </div>
        <div class="col-md-7 col-6 shadow row justify-content-center" style="padding: 2%;">
            <!-- Left Column -->

            <div class="col-6">
                <div>
                    <span class="product-oprice">&#8377; Rs.36,000/-</span>
                </div>
                <div>
                    <span class="product-dprice">&#8377; Rs.23,000/-*</span><br>
                    <p class="text-muted">*GST Included</p>
                </div>
                <div style="padding: 4% 0%;">
                    <span style="font-size:small; color: green; background-color:rgb(122, 228, 122); border-radius: 10%; padding: 1%;"><i class="bi bi-check-circle"></i> in stock</span>
                </div>
                <div style="padding: 4% 0%; text-align: center;">
                    <button class="btn" style="width: 75%; background-color:orangered; color: white;"><i class="bi bi-cart3"></i> Add to Cart</button>
                </div>
                <div style="padding: 4% 0%; text-align: center;">
                    <a href="" class="text-muted" style="text-decoration: none;">Needed in bulk quantity?</a>
                </div>
                <div style="padding: 4% 0%;">
                   <a href=""><img src="/images/whatsapp.png" style="width: 70%;" alt=""></a>
                </div>
            </div>

            <!-- Right Column -->

            <div class="col-6">
                
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <i class="bi bi-clipboard-plus"></i> &nbsp; Our Advantages
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse acc-cust collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                          <ul style="list-style-type:none;">
                              <li>— GST Invoice available </li>
                              <li>— Easy Return and exchange </li>
                              <li>— Multiple payment options </li>
                              <li>— Best price </li>                              
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            <i class="bi bi-truck"></i> &nbsp; Delivery
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                          <p>Click to read our delivery <br> <a href="" style="font-weight:bold; text-decoration: none;color: blue;">Terms & Conditions</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            <i class="bi bi-credit-card-2-back-fill"></i> &nbsp; Payment Options
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                          <ul style="list-style-type:none;">
                            <li>— Credit/Debit Card Payment </li>
                            <li>— Net banking and UPI Payment </li>
                            <li>— Easy EMI on Selected Products </li>                              
                        </ul>
                          <ul>
                            <li>
                              
                              </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
        <div class="col-md-12 col-12" style="padding: 2% 0%;">
          <h3 style="padding-bottom: 2%;"><strong>Description</strong></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, commodi deleniti. Voluptatibus eum tempora obcaecati alias sapiente enim, nobis accusamus, doloremque vitae saepe impedit. Asperiores totam dolorum temporibus at commodi!</p>
        </div>       
    </div>
</div>
<div class="container-fluid container-fluid-row-full-width fill-gray">
  <div class="row">
    
      <div class="col-md-12 row benefits justify-content-center">
        <div class="col-4 benefit">
          <i class="bi bi-truck"></i>
          <div class="content">
            <header>Fast And Safe Delivery</header>
            <p>We deliver your product in express way at the same time with complete care and precautions. </p>
          </div>
        </div>
        <div class="col-4 benefit">
          <i class="bi bi-shield-fill-check"></i>
          <div class="content">
            <header>Quality assurance and service</header>
            <P>We offer only those goods, in which quality we are sure</P>
          </div>
        </div>
        <div class="col-4 benefit">
          <i class="bi bi-arrow-down-square-fill"></i>
          <div class="content">
            <header>Returns within 5 days</header>
            <P>You have 5 days to Return your purchase</P>
          </div>
        </div>
       
      </div> 
    
  </div>
</div>