<%- include('./partials/header.ejs') %>

<!-- Products List -->
<section id="index-3" style="background-color: #F6F6F6;">
    <div class="container-fluid cf-index3">
      <div class="row">
        <div class="col-md-12">
          <h2 class="products-index" style="text-align: center; padding-bottom: 0; margin-bottom: 0;">PRODUCTS</h2>
          <p class="text-muted text-center">Choose a category to browse further</p>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
          <figure>
            <a href="/category/homeCare"><img src="/images/category/homeCaree.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">HOME CARE</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
          <figure>
            <a href="/category/icuCriticalCare"><img src="/images/category/icuCare.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">ICU/CRITICAL CARE</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
          <figure>
            <a href="/category/OTEquipments"><img src="/images/category/27-ot-equipment.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">OT EQUIPMENTS</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
          <figure>
            <a href="/category/diagnosticImaging"><img src="/images/category/25-medical-imaging.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">DIAGNOSTIC & IMAGING</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
          <figure>
            <a href="/category/suppliesAccessories"><img src="/images/category/suppliesAccessories.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">SUPPLIES & ACCESSORIES</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
          <figure>
            <a href="/category/hospitalFurnitures"><img src="/images/category/1-hospital-medical-furniture.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">HOSPITAL FURNITURE</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
          <figure>
            <a href="/category/covid19"><img src="/images/category/covid19.png" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">COVID PRODUCTS</p>
        </div>
        <!-- <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
          <figure>
            <a href="/category/hospitalInfra"><img src="/images/category/hospitalInfra.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">HOSPITAL INFRA</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
          <figure>
            <a href="/category/labEquipments"><img src="/images/category/7-laboratory-products.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">LAB EQUIPMENTS</p>
         </div> -->
      </div>
    </div>
  </section>


 <%- include('./partials/footer.ejs') %>

  