<%- include('../partials/header.ejs') %>

<div class="container-fluid cf-homecare">

    <div class="row">
        <div class="col-md-12">
            <h3 style="font-weight: bold; color: blue;">COVID-19 Products</h3>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-fill" style="color: black;"></i></a></li>
                  <li class="breadcrumb-item"><a href="/products" style="text-decoration: none; color: black;">Products</a></li>
                  <li class="breadcrumb-item active" aria-current="page">COVID-19 Products</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a href="/category/faceMask" class="list-group-item list-group-item-action listItems" aria-current="true">
                    Face Mask
                </a>
                <a href="/category/handSanitizer" class="list-group-item list-group-item-action listItems">Hand Sanitizer & Disinfectant</a>
                <a href="/category/personalEquipment" class="list-group-item list-group-item-action listItems">Personal Protective Equipment</a>
                <a href="/category/fumigationMachine" class="list-group-item list-group-item-action listItems">Fumigation Machine</a>
                <a href="/category/infraredThermometers" class="list-group-item list-group-item-action listItems">Infrared Non Contact Thermometers</a>
                <a href="/category/diagnosticTestKit" class="list-group-item list-group-item-action listItems">Diagnostic Test Kit</a>
                <a href="/category/covidMedicEquipments" class="list-group-item list-group-item-action listItems">COVID-19 Medical Equipment</a>
                <a href="/category/medicalMask" class="list-group-item list-group-item-action listItems">Medical Mask</a>
              </div>
        </div>  
        <div class="col-md-9 row">
            <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/faceMask"><img src="/images/miniCategories/faceMask.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Face Mask</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/handSanitizer"><img src="/images/miniCategories/handSanitizer.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Hand Sanitizer & Disinfectant</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/personalEquipment"><img src="/images/miniCategories/protective.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Personal Protective Equipment</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/fumigationMachine"><img src="/images/miniCategories/fumigation.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Fumigation Machine</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/infraredThermometers"><img src="/images/miniCategories/noncontactThermometer.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Infrared Non Contact Thermometers</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/diagnosticTestKit"><img src="/images/miniCategories/testKit.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Diagnostic Test Kit</p>
              </div>
              <!-- <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/covidProducts"><img src="/images/miniCategories/cylinder.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">COVID-19 Medical Equipment</p>
              </div> -->
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/medicalMask"><img src="/images/miniCategories/medicalMask.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Medical Mask</p>
              </div>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>