<%- include('../partials/header.ejs') %>

<div class="container-fluid cf-homecare">

    <div class="row">
        <div class="col-md-12">
            <h3 style="font-weight: bold; color: blue;">DIAGNOSTICS & IMAGING</h3>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-fill" style="color: black;"></i></a></li>
                  <li class="breadcrumb-item"><a href="/products" style="text-decoration: none; color: black;">Products</a></li>
                  <li class="breadcrumb-item active" aria-current="page">DIAGNOSTICS & IMAGING</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a href="/category/littmannStethoscope" class="list-group-item list-group-item-action listItems" aria-current="true">
                    Littmann Stethoscope
                </a>
                <a href="/category/generalDiagnostics" class="list-group-item list-group-item-action listItems">General Diagnostics</a>
                <a href="/category/electrocardiographs" class="list-group-item list-group-item-action listItems">Electrocardiographs</a>
                <a href="/category/radiology" class="list-group-item list-group-item-action listItems">Radiology Imaging</a>
                <a href="/category/electroDiagnostic" class="list-group-item list-group-item-action listItems">Electrodiagnostic Equipment</a>
                <a href="/category/poctDevices" class="list-group-item list-group-item-action listItems">POCT ( Point of care) Devices</a>
              </div>
        </div>  
        <div class="col-md-9 row">
            
            <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/littmannStethoscope"><img src="/images/miniCategories/littmann.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Littmann Stethoscope</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/generalDiagnostics"><img src="/images/miniCategories/generalDiagnostics.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">General Diagnostics</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/electrocardiographs"><img src="/images/miniCategories/ecg.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Electrocardiographs</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/radiology"><img src="/images/miniCategories/radiology.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Radiology Imaging</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/electrodiagnostic"><img src="/images/miniCategories/electrodiagnostic.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Electrodiagnostic Equipment</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/poctDevices"><img src="/images/miniCategories/poct.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">POCT ( Point of care) Devices</p>
              </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>