<%- include('../partials/header.ejs') %>

<div class="container-fluid cf-homecare">

    <div class="row">
        <div class="col-md-12">
            <h3 style="font-weight: bold; color: blue;">HOSPITAL FURNITURES</h3>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-fill" style="color: black;"></i></a></li>
                  <li class="breadcrumb-item"><a href="/products" style="text-decoration: none; color: black;">Products</a></li>
                  <li class="breadcrumb-item active" aria-current="page">HOSPITAL FURNITURES</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a href="/category/stretcher" class="list-group-item list-group-item-action listItems" aria-current="true">
                  Stretcher
                </a>
                <a href="/category/hospitalBeds" class="list-group-item list-group-item-action listItems">Hospital Beds</a>
                <a href="/category/hospitalChair" class="list-group-item list-group-item-action listItems">Hospital Chair</a>
                <a href="/category/hospitalTrolley" class="list-group-item list-group-item-action listItems">Hospital Trolley</a>
                <a href="/category/hospitalStands" class="list-group-item list-group-item-action listItems">Hospital Stands</a>
                <a href="/category/hospitalTableStool" class="list-group-item list-group-item-action listItems">Hospital Table/Hospital Stool</a>
                <a href="/category/otherMedicalFurnitures" class="list-group-item list-group-item-action listItems">Other Medical Furniture</a>
              </div>
        </div>  
        <div class="col-md-9 row">
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/stretcher"><img src="/images/miniCategories/stretcher.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Stretcher</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/hospitalBeds"><img src="/images/miniCategories/hospitalBed.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Hospital Beds</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/hospitalChair"><img src="/images/miniCategories/hospitalChair.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Hospital Chair</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/hospitalTrolley"><img src="/images/miniCategories/hospitalTrolley.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Hospital Trolley</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/hospitalStands"><img src="/images/miniCategories/hospitalStand.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Hospital Stands</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/hospitalTableStool"><img src="/images/miniCategories/hospitalTable.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Hospital Table/Hospital Stool</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/otherMedicalFurnitures"><img src="/images/miniCategories/otherEquipments.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Other Medical Furniture</p>
          </div>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>