<%- include('../partials/header.ejs') %>

<div class="container-fluid cf-homecare">
    <div class="row">
        <div class="col-md-3">
            <h3 style="font-weight: bold; color: blue;">ICU/CRITICAL CARE</h3>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-fill" style="color: black;"></i></a></li>
                  <li class="breadcrumb-item" aria-current="page"><a href="/products" style="text-decoration: none; color: black;">PRODUCTS</a></li>
                  <li class="breadcrumb-item active" aria-current="page">ICU/CRITICAL CARE</li>
                </ol>
            </nav>
            <div class="list-group">
                <a href="/category/ventilatorMachine" class="list-group-item list-group-item-action listItems" aria-current="true">
                  Ventilator Machine
                </a>
                <a href="/category/defAedPacemakers" class="list-group-item list-group-item-action listItems">Defibrillator, AED, Pacemakers</a>
                <a href="/category/infusionPump" class="list-group-item list-group-item-action listItems">Infusion Pump</a>
                <a href="/category/patientMonitoringSystem" class="list-group-item list-group-item-action listItems">Patient Monitoring System</a>
                <a href="/category/dialysisEquipment" class="list-group-item list-group-item-action listItems">Dialysis Equipment</a>
                <a href="/category/abgAnalyzer" class="list-group-item list-group-item-action listItems">Arterial Blood Gas (ABG) Analyzer</a>
                <a href="/category/compressionPump" class="list-group-item list-group-item-action listItems">Compression Pump</a>
                <a href="/category/electroMedicalEquipment" class="list-group-item list-group-item-action listItems">Electromedical Equipment</a>
            </div>
        </div>
        <div class="col-md-9 row">
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/ventilatorMachine"><img src="/images/miniCategories/ventillatorMachine.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Ventilator Machine</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/defAedPacemakers"><img src="/images/miniCategories/defibrillator.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Defibrillator, AED, Pacemakers</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/infusionPump"><img src="/images/miniCategories/infusionPump.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Infusion Pump</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/patientMonitoringSystem"><img src="/images/miniCategories/pmsystem.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Patient Monitoring System</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/dialysisEquipment"><img src="/images/miniCategories/dialysis.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Dialysis Equipment</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/abgAnalyzer"><img src="/images/miniCategories/abg-analyzer.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Arterial Blood Gas (ABG) Analyzer</p>
          </div>
          <div class="col-md-3 miniCateg">
          <figure>
            <a href="/category/compressionPump"><img src="/images/miniCategories/compressionPump.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
          </figure>
          <p class="product-tag">Compression Pump</p>
          </div>
          <div class="col-md-3 miniCateg">
            <figure>
              <a href="/category/electroMedicalEquipment"><img src="/images/miniCategories/nebulizer.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
            </figure>
            <p class="product-tag">Electromedical Equipment</p>
          </div>
        </div>
    
    </div>
</div>

<%- include('../partials/footer.ejs') %>