<%- include('../partials/header.ejs') %>

<div class="container-fluid cf-homecare">

    <div class="row">
        <div class="col-md-12">
            <h3 style="font-weight: bold; color: blue;">SUPPLIES & ACCESSORIES</h3>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-fill" style="color: black;"></i></a></li>
                  <li class="breadcrumb-item"><a href="/products" style="text-decoration: none; color: black;">Products</a></li>
                  <li class="breadcrumb-item active" aria-current="page">SUPPLIES & ACCESSORIES</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a href="/category/surgicalWoundCareDressing" class="list-group-item list-group-item-action listItems" aria-current="true">
                    Surgical and wound care dressing
                </a>
                <a href="/category/medicalClothingUniformsLinen" class="list-group-item list-group-item-action listItems">Medical Clothing, Uniforms, Linen</a>
                <a href="/category/disposablesConsumables" class="list-group-item list-group-item-action listItems">Disposables & Consumables</a>
                <a href="/category/medicalEquipment" class="list-group-item list-group-item-action listItems">Medical Equipment Accessories</a>
                <a href="/category/surgicalSupplies" class="list-group-item list-group-item-action listItems">Surgical Supplies</a>
                <a href="/category/syringesSupplies" class="list-group-item list-group-item-action listItems">Syringes, Infusion Tubes & Other Intravenous Supplies</a>
                <a href="/category/medicalSupplies" class="list-group-item list-group-item-action listItems">Medical Supplies</a>
                <a href="/category/bioWasteProducts" class="list-group-item list-group-item-action listItems">Bio-Waste Products</a>
              </div>
        </div>  
        <div class="col-md-9 row">
            <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/surgicalWoundCareDressing"><img src="/images/miniCategories/surgicalDressing.png" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Surgical and wound care dressing</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/medicalClothingUniformsLinen"><img src="/images/miniCategories/medicalClothing.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Medical Clothing, Uniforms, Linen</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/disposablesConsumables"><img src="/images/miniCategories/disposable.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Disposables & Consumables</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/medicalEquipment"><img src="/images/miniCategories/accessories.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Medical Equipment Accessories</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/surgerySupplies"><img src="/images/miniCategories/surgerySupplies.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Surgical Supplies</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/syringesSupplies"><img src="/images/miniCategories/syringes.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Syringes, Infusion Tubes & Other Intravenous Supplies</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/medicalSupplies"><img src="/images/miniCategories/medicalSupplies.png" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Medical Supplies</p>
              </div>
              <div class="col-md-3 miniCateg">
                <figure>
                  <a href="/category/bioWasteProducts"><img src="/images/miniCategories/bioWaste.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
                </figure>
                <p class="product-tag">Bio-Waste Products</p>
              </div>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>