<%- include('../partials/header.ejs') %>

<div class="container-fluid cf-signin">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/frontImg.png" alt="" class="signin-img">
        </div>
        <div class="col-md-8">
            <main class="form-signin">
                <form action="/users/signin" method="post">
                  
                  <img class="mb-4" src="/images/logo.png" alt="" width="150" height="57">
                  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                  <% if (messages.length>0) { %>
                    <% messages.forEach(message => { %>
                
                        <p><span style="background-color: tomato; color:white; padding: 0.2rem;"><%= message %></span></p>
                
                    <% }) %>
                  <% } %>
              
                  <div class="form-floating">
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class=" btn btn-sm btn-primary" type="submit">Sign in</button>
                  <p>Don't have an account? <a href="/users/signup" style="text-decoration: none; color: blue; font-weight: bold;">Sign Up Instead!</a> </p>
                </form>
              </main>
        </div>
    </div>
</div>
    
 
    
<%- include('../partials/footer.ejs') %>
        
  